<!DOCTYPE HTML>
<html>
<head>
	<title>Page vierge</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../assets/css/main.css" />
	<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="icon" href="../images/favicon-16x16.png" type="image/png">

	<script>
		function toggleArticles() {
			document.querySelectorAll('.more-articles').forEach(a => {
				a.style.display = (a.style.display === 'none' || a.style.display === '') ? 'block' : 'none';
			});
		}
	</script>
</head>

<body class="left-sidebar is-preload">
<div id="page-wrapper">

	<!-- Header -->
	<div id="header">
		<div class="inner">
			<header>
				<h1>
					<a href="../index.html" id="logo">
						<img src="../images/maison.png" alt="Accueil" style="height: 70px; vertical-align: middle;">
					</a>
				</h1>
			</header>
		</div>
	</div>

	<!-- Contenu principal -->
	<div id="main" class="wrapper style2">
		<article class="container special">
			<!-- marge ajoutée au-dessus de l'image -->
			
			<header>
				<h2><a href="#">Titre du paragraphe principal</a></h2>
				<p>
					Ici, un texte de présentation plus développé. Tu peux y raconter une expérience de voyage, 
					donner une introduction à un pays, une région ou un thème. Le but est d’avoir un paragraphe simple, 
					informatif, et agréable à lire.
				</p>
			</header>
			<p>
				Ce modèle peut être utilisé aussi bien pour un pays que pour un itinéraire de voyage. 
				Il respecte la mise en page et le design du modèle Helios, tout en restant léger et facile à adapter. 
				Remplace simplement les images, titres et textes selon tes besoins.
			</p>

            <div style="margin-top: 3em;">
				<a href="#" class="image featured">
					<img src="../images/pic06.jpg" alt="Image principale" />
				</a>
			</div>
		</article>
	</div>


    <section id="banner" style="margin-top: 0em">
		<header>
			<h2>Liens ou destinations associées</h2>
		</header>
	</section>

	<!-- Carousel -->
	<section class="carousel wrapper style1">
		<div class="reel">

			<article>
				<a href="#" class="image featured"><img src="../images/pic10.jpg" alt="Lien 1" /></a>
				<header><h3><a href="#">Lien 1</a></h3></header>
				<p>Brève description.</p>
			</article>

			<article>
				<a href="#" class="image featured"><img src="../images/pic11.jpg" alt="Lien 2" /></a>
				<header><h3><a href="#">Lien 2</a></h3></header>
				<p>Brève description ou contexte.</p>
			</article>

			<article>
				<a href="#" class="image featured"><img src="../images/pic12.jpg" alt="Lien 3" /></a>
				<header><h3><a href="#">Lien 3</a></h3></header>
				<p>Description complémentaire.</p>
			</article>

			<article>
				<a href="#" class="image featured"><img src="../images/pic13.jpg" alt="Lien 4" /></a>
				<header><h3><a href="#">Lien 4</a></h3></header>
				<p>Une autre ressource.</p>
			</article>

		</div>
	</section>

	<!-- Footer -->
	<div id="footer">
		<div class="container">

			<!-- Ligne 1 : Contact -->
			<div class="row">
				<div class="col-12">
					<section class="contact">
						<header>
							<h3>Contactez-moi</h3>
						</header>
						<p>Pour toute question, information ou suggestion, n'hésitez pas à me contacter : arno.rabault@gmail.com</p>
						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/arno-rabault-a2b931212" class="icon brands fa-linkedin-in"></a></li>
							<li><a href="https://www.instagram.com/arno_rblt" class="icon brands fa-instagram"></a></li>
							<li><a href="https://www.polarsteps.com/arnocracheurdefeu" class="fa-solid fa-earth-americas"></a></li>
							<li><a href="https://www.cagnotte.com/lien" class="icon fa-credit-card"></a></li>
						</ul>
					</section>
				</div>
			</div>

			<hr />

			<!-- Ligne 2 : Galerie photo -->
			<div class="row">
				<div class="col-12">
					<section class="footer-gallery">
						<header>
							<h3><a href="../galerie.html">Galerie</a></h3>
						</header>
						<div class="row gtr-25">
							<div class="col-3">
								<a href="../galerie.html" class="image fit"><img src="../images/pic10.jpg" alt="" /></a>
							</div>
							<div class="col-3">
								<a href="../galerie.html" class="image fit"><img src="../images/pic11.jpg" alt="" /></a>
							</div>
							<div class="col-3">
								<a href="../galerie.html" class="image fit"><img src="../images/pic12.jpg" alt="" /></a>
							</div>
							<div class="col-3">
								<a href="../galerie.html" class="image fit"><img src="../images/pic13.jpg" alt="" /></a>
							</div>
						</div>
					</section>
				</div>
			</div>

			<hr />

			<!-- Copyright -->
			<div class="row">
				<div class="col-12">
					<div class="copyright">
						<ul class="menu">
							<li>&copy; Volcarno. All rights reserved.</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/jquery.dropotron.min.js"></script>
	<script src="../assets/js/jquery.scrolly.min.js"></script>
	<script src="../assets/js/jquery.scrollex.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>

</div>
</body>
</html>
